<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <p>
            <label>
                Szin:<br>
                <input name="textcolor" type="color">
            </label>
        </p>
        <p>
            <label>
                Szöveg:<br>
                <textarea name="content"></textarea>
            </label>
        </p>
        <input type="submit" value="Feldolgoz!">
    </form>
</body>
</html>